In [3]:
import pandas as pd

In [10]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet

In [4]:
genre = pd.read_csv("categories.csv")

In [5]:
genre

      category_id                                category_name
0            1998                             .Net Programming
1             176  20th Century & Contemporary Classical Music
2            3291  20th Century & Contemporary Classical Music
3            2659      20th Century History: C 1900  To C 2000
4            2661          21st Century History: From C 2000 -
...           ...                                          ...
2770         1634                       Zoology: Invertebrates
2771         1644                             Zoology: Mammals
2772         1639                         Zoology: Vertebrates
2773         3007                        Zoos & Wildlife Parks
2774         3215                               Zoroastrianism

[2775 rows x 2 columns]

In [6]:
genre.isna().sum()

category_id      0
category_name    0
dtype: int64

### NLP on category_name

In [8]:
text = pd.DataFrame(genre["category_name"], columns=["category_name"])
text

                                    category_name
0                                .Net Programming
1     20th Century & Contemporary Classical Music
2     20th Century & Contemporary Classical Music
3         20th Century History: C 1900  To C 2000
4             21st Century History: From C 2000 -
...                                           ...
2770                       Zoology: Invertebrates
2771                             Zoology: Mammals
2772                         Zoology: Vertebrates
2773                        Zoos & Wildlife Parks
2774                               Zoroastrianism

[2775 rows x 1 columns]

In [11]:
# tokenizer, remove punctuation, lower case

def tokenizer_and_remove_punctuation(row):

    tokens = word_tokenize(row["category_name"])

    return [token.lower() for token in tokens]

text["tokenized"] =  text.apply(tokenizer_and_remove_punctuation, axis=1)

In [13]:
def get_wordnet_pos(token):

    tag = nltk.pos_tag([token], lang="eng")[0][1][0].upper()
    tag_dict = {"N": wordnet.NOUN,
                "J": wordnet.ADJ,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [14]:
# lemmatize with part of speach tags

lm = WordNetLemmatizer()

def lemmatizer_with_pos(row):

    return [lm.lemmatize(token, get_wordnet_pos(token)) for token in row["tokenized"]]


text["lemmatized"] = text.apply(lemmatizer_with_pos, axis=1)

In [16]:
# remove stopwords

def remove_sw(row):
    return list(set(row["lemmatized"]).difference(stopwords.words()))

text["no_stopwords"] = text.apply(remove_sw, axis=1)

In [18]:
# put all together into a cave man language

def re_blob(row):
    return " ".join(row["no_stopwords"])

text["clean_blob"] =  text.apply(re_blob, axis = 1)

In [20]:
# create our bag of words model to then be able to apply ML algorithms

bow_vct = CountVectorizer()

# train it

bow_vct.fit(text["clean_blob"])

CountVectorizer()

In [21]:
text.head()

,category_name,tokenized,lemmatized,no_stopwords,clean_blob
0,.Net Programming,"[.net, programming]","[.net, program]","[.net, program]",.net program
1,20th Century & Contemporary Classical Music,"[20th, century, &, contemporary, classical, mu...","[20th, century, &, contemporary, classical, mu...","[&, music, classical, contemporary, 20th, cent...",& music classical contemporary 20th century
2,20th Century & Contemporary Classical Music,"[20th, century, &, contemporary, classical, mu...","[20th, century, &, contemporary, classical, mu...","[&, music, classical, contemporary, 20th, cent...",& music classical contemporary 20th century
3,20th Century History: C 1900 To C 2000,"[20th, century, history, :, c, 1900, to, c, 2000]","[20th, century, history, :, c, 1900, to, c, 2000]","[1900, :, century, history, 2000, 20th]",1900 : century history 2000 20th
4,21st Century History: From C 2000 -,"[21st, century, history, :, from, c, 2000, -]","[21st, century, history, :, from, c, 2000, -]","[21st, :, -, century, history, 2000]",21st : - century history 2000

In [22]:
X = bow_vct.transform(text["clean_blob"]).toarray()

In [25]:
words_df = pd.DataFrame(X, columns=bow_vct.get_feature_names_out())
words_df.head()

,1000,1400,1450,1500,1600,1700,1750,1800,1830,1900,...,www,xenobiotics,xp,ya,yearbook,zen,zone,zoo,zoology,zoroastrianism
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# from sklearn.cluster import KMeans

# km = KMeans(n_clusters=10)

# # train the model

# km.fit(words_df)

KMeans(n_clusters=10)

In [42]:
# pred = km.predict(words_df)

# pd.DataFrame(pred).to_csv('pred_categories.csv')

In [43]:
# predict_df = pd.concat([genre, pd.DataFrame(pred, columns=["class"])], axis=1)

# predict_df.to_csv("predicted_genre.csv")

In [44]:
predict_df["class"].value_counts()

6    2296
1     126
2      84
5      58
7      54
3      43
0      40
4      33
9      27
8      14
Name: class, dtype: int64

In [45]:
# explore category 0 == MEDICINE

predict_df[predict_df["class"]==0]

      category_id                                      category_name  class
11           1379                      Accident & Emergency Medicine      0
214          1391                          Aviation & Space Medicine      0
349          1339                            Cardiovascular Medicine      0
411          2838                     Chinese Medicine & Acupuncture      0
475          1324                       Clinical & Internal Medicine      0
517          1456                             Complementary Medicine      0
518          1475                 Complementary Medicine For Animals      0
730          1392                       Diving & Hyperbaric Medicine      0
888          1390                             Environmental Medicine      0
897          1461                         Equine Veterinary Medicine      0
1026         1389                                  Forensic Medicine      0
1109         1360                                 Geriatric Medicine      0
1211         1305                                History Of Medicine      0
1334         1382                            Intensive Care Medicine      0
1538         1357                             Materno-fetal Medicine      0
1585         1280                                           Medicine      0
1669         1340                           Musculoskeletal Medicine      0
1715         1359                                  Neonatal Medicine      0
1749         1383                                   Nuclear Medicine      0
1780         1393                              Occupational Medicine      0
1831         1362                         Other Branches Of Medicine      0
1848         1358                                Paediatric Medicine      0
1858         1365                                Palliative Medicine      0
1990         2772                          Popular Medicine & Health      0
2013         1306              Pre-clinical Medicine: Basic Sciences      0
2077         1289                Public Health & Preventive Medicine      0
2139         1260          Regulation Of Medicines & Medical Devices      0
2173         1353                        Renal Medicine & Nephrology      0
2175         1318                              Reproductive Medicine      0
2182         1347                               Respiratory Medicine      0
2398         1395                         Sports Injuries & Medicine      0
2599         2837             Traditional Medicine & Herbal Remedies      0
2624         1394                                  Tropical Medicine      0
2652         1355                      Urology & Urogenital Medicine      0
2666         1458                                Veterinary Medicine      0
2667         1463          Veterinary Medicine: Exotic & Zoo Animals      0
2668         1467  Veterinary Medicine: Infectious Diseases & The...      0
2669         1462            Veterinary Medicine: Laboratory Animals      0
2670         1460  Veterinary Medicine: Large Animals (domestic /...      0
2671         1459          Veterinary Medicine: Small Animals (pets)      0

In [46]:
# explore category 1 == LAW

predict_df[predict_df["class"]==1]

      category_id                                  category_name  class
14           1229                                 Accounting Law      1
39           1213       Advertising, Marketing & Sponsorship Law      1
55           1172                                     Agency Law      1
59           1215                               Agricultural Law      1
105          1216                                     Animal Law      1
...           ...                                            ...    ...
2544         1200                                  Terrorism Law      1
2597         1241                                 Trademarks Law      1
2604         1136                   Transnational Commercial Law      1
2607         1219                                  Transport Law      1
2618         1119  Treaties & Other Sources Of International Law      1

[126 rows x 3 columns]

In [47]:
# explore category 2 == ????

predict_df[predict_df["class"]==2]

      category_id                                      category_name  class
21           2461                                     Activity Books      2
33            342                                    Adventure Books      2
34           2491                           Adventure Books for Kids      2
124          2904  Antiques & Collectables: Books, Manuscripts, E...      2
160             3                                          Art Books      2
...           ...                                                ...    ...
2610         2967                               Transportation Books      2
2611         2536                  Transportation Books for Children      2
2632          234                                   True Story Books      2
2757         2687                                  World War 1 Books      2
2759         2689                                  World War 2 Books      2

[84 rows x 3 columns]

In [48]:
# explore category 3 == ENGINEERING

predict_df[predict_df["class"]==3]

      category_id                                     category_name  class
17           1856                      Acoustic & Sound Engineering      3
58           1878              Agricultural Engineering & Machinery      3
208           229  Autobiography: Science, Technology & Engineering      3
210          1799                     Automatic Control Engineering      3
262          1721                           Biochemical Engineering      3
275           228      Biography: Science, Technology & Engineering      3
280          1446                            Biomedical Engineering      3
385          1727                              Chemical Engineering      3
454          1810           Civil Engineering, Surveying & Building      3
506          1802   Communications Engineering / Telecommunications      3
788          1815                            Earthquake Engineering      3
833          1784                            Electrical Engineering      3
845          1792          Electronics & Communications Engineering      3
846          1793                           Electronics Engineering      3
866          1777                   Energy Technology & Engineering      3
867          1713          Engineering Graphics & Technical Drawing      3
868          1716             Engineering Measurement & Calibration      3
869          1774                       Engineering Skills & Trades      3
870          1760                        Engineering Thermodynamics      3
871          1710                              Engineering: General      3
890          1833   Environmental Science, Engineering & Technology      3
1094         1723                               Genetic Engineering      3
1183         1822                     Highway & Traffic Engineering      3
1207         1719               History Of Engineering & Technology      3
1257         1817                             Hydraulic Engineering      3
1326         1715         Instruments & Instrumentation Engineering      3
1529         1867                                Marine Engineering      3
1551         1755                            Mechanical Engineering      3
1552         1754                Mechanical Engineering & Materials      3
1625         1864                              Military Engineering      3
1641         1870                   Mining Technology & Engineering      3
1750         1782                       Nuclear Power & Engineering      3
1773         2010              Object Oriented Software Engineering      3
1791         1868                              Offshore Engineering      3
1827         2962                       Origami & Paper Engineering      3
2045         1770                            Production Engineering      3
2111         1846          Railway Technology, Engineering & Trades      3
2148         1773                           Reliability Engineering      3
2242         1836                  Sanitary & Municipal Engineering      3
2302         1848     Shipbuilding Technology, Engineering & Trades      3
2362         2007                              Software Engineering      3
2428         1811                            Structural Engineering      3
2526         1708                          Technology & Engineering      3

In [49]:
# explore category 4 == Medical

predict_df[predict_df["class"]==4]

      category_id                                      category_name  class
222          1614                         Bacteriology (non-medical)      4
895          1297                  Epidemiology & Medical Statistics      4
1095         1600                             Genetics (non-medical)      4
1559         1279                                            Medical      4
1561         1301                Medical Administration & Management      4
1562         1650                               Medical Anthropology      4
1563         1455                     Medical Charts, Colour Atlases      4
1564         1443                                Medical Counselling      4
1565         1325                                  Medical Diagnosis      4
1566         1284                     Medical Equipment & Techniques      4
1567         1282              Medical Ethics & Professional Conduct      4
1568         1323                                   Medical Genetics      4
1569         1384                                    Medical Imaging      4
1570         1302                                  Medical Insurance      4
1571         1285            Medical Laboratory Testing & Techniques      4
1572         1371                    Medical Microbiology & Virology      4
1573         1372                               Medical Parasitology      4
1574         1567                                    Medical Physics      4
1575         1281                                 Medical Profession      4
1576         1286                                   Medical Research      4
1577         1452                        Medical Revision Aids: MRCP      4
1578         1453                        Medical Revision Aids: MRCS      4
1579         1454                        Medical Revision Aids: PLAB      4
1580         1290                                  Medical Screening      4
1581         1304                                  Medical Sociology      4
1582         1451                    Medical Study & Revision Guides      4
1583         1450  Medical Study & Revision Guides & Reference Ma...      4
1584         1374                                 Medical Toxicology      4
1606         1613                         Microbiology (non-medical)      4
1690         1621                      Mycology, Fungi (non-medical)      4
1863         1615                         Parasitology (non-medical)      4
2590         1608                           Toxicology (non-medical)      4
2684         1616                             Virology (non-medical)      4

In [50]:
# explore category 5 == SOCIAL SCIENCE

predict_df[predict_df["class"]==5]

      category_id                                      category_name  class
16            963                Accounting: Study & Revision Guides      5
232           976         Banking & Finance: Study & Revision Guides      5
250          3156  Bible Studies: For Individual Or Small Group S...      5
256          3152                        Biblical Studies & Exegesis      5
289           692                              Black & Asian Studies      5
324           979     Business & Management: Study & Revision Guides      5
333          2585                                   Business Studies      5
334           978                          Business Studies: General      5
405           307             Children's Literature Studies: General      5
504           409                              Communication Studies      5
505          2716                              Communication Studies      5
635           634                                   Cultural Studies      5
689           411                                Development Studies      5
690          2718                                Development Studies      5
763           321                               ELT Self-study Texts      5
917           691          Ethnic Minorities & Multicultural Studies      5
918           690                                     Ethnic Studies      5
1074          687                              Gay & Lesbian Studies      5
1075          689                              Gay Studies (Gay Men)      5
1077          683                      Gender Studies, Gender Groups      5
1078          685                                Gender Studies: Men      5
1079          686     Gender Studies: Transsexuals & Hermaphroditism      5
1080          684                              Gender Studies: Women      5
1090          412                                    General Studies      5
1091         2719                                    General Studies      5
1092         2587                                General Study Books      5
1189          693                          Hispanic & Latino Studies      5
1327          973                      Insurance & Actuarial Studies      5
1336          407                          Interdisciplinary Studies      5
1337         2714                          Interdisciplinary Studies      5
1382          702                                    Islamic Studies      5
1390          701                                     Jewish Studies      5
1436          276                          Language Self-study Texts      5
1449         1278                       Law: Study & Revision Guides      5
1461          688                                    Lesbian Studies      5
1486          297                 Literary Studies: C 1500 To C 1800      5
1487          298                 Literary Studies: C 1800 To C 1900      5
1488          296      Literary Studies: Classical, Early & Medieval      5
1489          304  Literary Studies: Fiction, Novelists & Prose W...      5
1490          299                    Literary Studies: From C 1900 -      5
1491          295                          Literary Studies: General      5
1492          302              Literary Studies: Plays & Playwrights      5
1493          301                   Literary Studies: Poetry & Poets      5
1494          300         Literary Studies: Post-colonial Literature      5
1557          640                                      Media Studies      5
1776         3241                                     Occult Studies      5
1862          782                          Parapsychological Studies      5
1873          413                Peace Studies & Conflict Resolution      5
1874         2720                Peace Studies & Conflict Resolution      5
2136          408                                   Regional Studies      5
2137         2715                                   Regional Studies      5
2171         2569                                  Religious Studies      5
2297          303                    Shakespeare Studies & Criticism      5
2330          663                 Social Forecasting, Future Studies      5
2431          839                   Study & Learning Skills: General      5
2432         3384                   Study & Learning Skills: General      5
2433         2588                            Study & Revision Guides      5
2558          125                                    Theatre Studies      5

In [51]:
# explore category 6 == ?????

predict_df[predict_df["class"]==6]

      category_id                                category_name  class
0            1998                             .Net Programming      6
1             176  20th Century & Contemporary Classical Music      6
2            3291  20th Century & Contemporary Classical Music      6
3            2659      20th Century History: C 1900  To C 2000      6
4            2661          21st Century History: From C 2000 -      6
...           ...                                          ...    ...
2770         1634                       Zoology: Invertebrates      6
2771         1644                             Zoology: Mammals      6
2772         1639                         Zoology: Vertebrates      6
2773         3007                        Zoos & Wildlife Parks      6
2774         3215                               Zoroastrianism      6

[2296 rows x 3 columns]

In [52]:
# explore category 7 == INDUSTRY

predict_df[predict_df["class"]==7]

      category_id                                  category_name  class
38           1089                           Advertising Industry      7
46           1063           Aerospace & Air Transport Industries      7
62           1035               Agriculture & Related Industries      7
77           1045      Alternative & Renewable Energy Industries      7
151          1054                           Armaments Industries      7
202           217             Autobiography: Business & Industry      7
216          1058                Aviation Manufacturing Industry      7
269           216                 Biography: Business & Industry      7
284          1053                       Biotechnology Industries      7
386          1048                            Chemical Industries      7
444          1080                                Cinema Industry      7
480          1040                   Coal & Solid Fuel Industries      7
559          1065                  Construction & Heavy Industry      7
560          1066                          Construction Industry      7
729          1068                        Distributive Industries      7
834          1042                    Electrical Power Industries      7
865          1039                  Energy Industries & Utilities      7
914           678    Ethical Issues: Prostitution & Sex Industry      7
958          1078                    Fashion & Beauty Industries      7
995          1077                    Financial Services Industry      7
1003         1036                 Fisheries & Related Industries      7
1022         1050        Food Manufacturing & Related Industries      7
1028         1037                  Forestry & Related Industries      7
1070         1041                                 Gas Industries      7
1180         1052               Hi-tech Manufacturing Industries      7
1235         1073                           Hospitality Industry      7
1310         1033                  Industry & Industrial Studies      7
1315         1087              Information Technology Industries      7
1365         1088                      Internet & WWW Industries      7
1374         1067                Iron, Steel & Metals Industries      7
1525         1047                       Manufacturing Industries      7
1558         1079  Media, Information & Communication Industries      7
1640         1038                                Mining Industry      7
1674         1082                                 Music Industry      7
1751         1043                       Nuclear Power Industries      7
1895         1044                     Petroleum & Oil Industries      7
1899         1055                      Pharmaceutical Industries      7
1996         1086         Postal & Telecommunications Industries      7
2027         1034                             Primary Industries      7
2031         1085    Printing, Packaging & Reprographic Industry      7
2084         1084                            Publishing Industry      7
2104         1081                    Radio & Television Industry      7
2113         1062                   Railway Transport Industries      7
2198         1060                      Road Transport Industries      7
2199         1056            Road Vehicle Manufacturing Industry      7
2288         1071                             Service Industries      7
2301         1057                          Shipbuilding Industry      7
2303         1061                            Shipping Industries      7
2393         1074                     Sport & Leisure Industries      7
2553         1049                             Textile Industries      7
2583         1051                               Tobacco Industry      7
2589         1072                               Tourism Industry      7
2606         1059                           Transport Industries      7
2699         1046                               Water Industries      7

In [53]:
# explore category 8 == CRIME

predict_df[predict_df["class"]==8]

      category_id                 category_name  class
365           737  Causes & Prevention Of Crime      8
596           742               Corporate Crime      8
616           336                         Crime      8
617           736           Crime & Criminology      8
618          2617                 Crime Fiction      8
1195          338              Historical Crime      8
1196         2619              Historical Crime      8
1820          743               Organized Crime      8
2420          741      Street Crime / Gun Crime      8
2627          235        True Crime Biographies      8
2628         3386              True Crime Books      8
2681          337                 Vintage Crime      8
2682         2618                 Vintage Crime      8
2694          922                    War Crimes      8

In [54]:
# explore category 9 == BUSINESS & ECONOMICS

predict_df[predict_df["class"]==9]

      category_id                               category_name  class
323           977                       Business & Management      9
325          1917                       Business Applications      9
326          1005       Business Communication & Presentation      9
327           983                        Business Competition      9
328           984                             Business Ethics      9
329           981                         Business Innovation      9
330          1006              Business Mathematics & Systems      9
331          1004                        Business Negotiation      9
332           980                           Business Strategy      9
335          3102                             Business Travel      9
561           987         Consultancy & Grants For Businesses      9
752           982                E-commerce: Business Aspects      9
766           329                   ELT: English For Business      9
1342         1142                   International Arbitration      9
1343          986                      International Business      9
1345         1141           International Courts & Procedures      9
1348          943                     International Economics      9
1349         2757                     International Economics      9
1351          944                       International Finance      9
1352         2758                       International Finance      9
1355          870                  International Institutions      9
1360         1131  International Organisations & Institutions      9
1361          865                     International Relations      9
1363          945                         International Trade      9
1364         2759                         International Trade      9
2290         1140        Settlement Of International Disputes      9
2319         1024            Small Businesses & Self-employed      9

### NLP for categoreies 2 and 6

In [61]:
genre2 = predict_df[(predict_df["class"]==2) | (predict_df["class"]==6)]

In [63]:
genre2["class"].value_counts()

6    2296
2      84
Name: class, dtype: int64

In [64]:
text = pd.DataFrame(genre2["category_name"], columns=["category_name"])
text

                                    category_name
0                                .Net Programming
1     20th Century & Contemporary Classical Music
2     20th Century & Contemporary Classical Music
3         20th Century History: C 1900  To C 2000
4             21st Century History: From C 2000 -
...                                           ...
2770                       Zoology: Invertebrates
2771                             Zoology: Mammals
2772                         Zoology: Vertebrates
2773                        Zoos & Wildlife Parks
2774                               Zoroastrianism

[2380 rows x 1 columns]

In [65]:
def tokenizer_and_remove_punctuation(row):

    tokens = word_tokenize(row["category_name"])

    return [token.lower() for token in tokens]

text["tokenized"] =  text.apply(tokenizer_and_remove_punctuation, axis=1)

In [67]:
def get_wordnet_pos(token):

    tag = nltk.pos_tag([token], lang="eng")[0][1][0].upper()
    tag_dict = {"N": wordnet.NOUN,
                "J": wordnet.ADJ,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [68]:
lm = WordNetLemmatizer()

def lemmatizer_with_pos(row):

    return [lm.lemmatize(token, get_wordnet_pos(token)) for token in row["tokenized"]]


text["lemmatized"] = text.apply(lemmatizer_with_pos, axis=1)

In [69]:

def remove_sw(row):
    return list(set(row["lemmatized"]).difference(stopwords.words()))

text["no_stopwords"] = text.apply(remove_sw, axis=1)

In [71]:

def re_blob(row):
    return " ".join(row["no_stopwords"])

text["clean_blob"] =  text.apply(re_blob, axis = 1)

In [73]:
bow_vct = CountVectorizer()

# train it

bow_vct.fit(text["clean_blob"])

CountVectorizer()

In [74]:
X = bow_vct.transform(text["clean_blob"]).toarray()

In [75]:
words2_df = pd.DataFrame(X, columns=bow_vct.get_feature_names_out())
words2_df.head()

,1000,1400,1450,1500,1600,1700,1750,1800,1830,1900,...,ww2,xenobiotics,xp,ya,yearbook,zen,zone,zoo,zoology,zoroastrianism
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
# from sklearn.cluster import KMeans

# km = KMeans(n_clusters=10)

# # train the model

# km.fit(words2_df)

KMeans(n_clusters=10)

In [84]:
# pred2 = km.predict(words2_df)

#pd.DataFrame(pred2).to_csv('pred_categories2.csv')

In [89]:
len(pred2)

2380

In [113]:
genre2 = genre2.reset_index()

In [114]:
# predict2_df = pd.concat([genre2, pd.DataFrame(pred2, columns=["class2"])], axis=1) #ignore_index=True

#predict2_df.to_csv("predicted_genre2.csv")

In [116]:
predict2_df["class2"].value_counts()

1    2068
2      70
7      62
4      58
6      32
3      23
8      23
0      16
9      16
5      12
Name: class2, dtype: int64

In [118]:
# explore category  0 == Kids

predict2_df[predict2_df["class2"]==0]

,index,category_id,category_name,class,class2
30,34,2491,Adventure Books for Kids,2,0
602,699,2590,Dictionaries for Kids,6,0
816,954,2496,Fantasy Books for Kids,2,0
903,1052,2501,Funny Books for Kids,2,0
1019,1185,2575,Hindu Books for Kids,2,0
1036,1205,2564,History Books for Kids,2,0
1166,1378,2574,Islamic Books for Kids,2,0
1194,1411,2579,Kids’ Chemistry Books,2,0
1195,1412,2573,Kids’ Jewish Books,2,0
1402,1685,2555,Musical Story & Educational Books For Kids,2,0
1408,1692,2493,Mystery Books for Kids,2,0
1457,1743,2518,Nonfiction History Books for Kids,2,0
1621,1930,2580,Physics Books for Kids,2,0
1646,1956,2487,Poetry Books for Kids,2,0
1913,2257,2495,Sci Fi Books for Kids,2,0
1956,2307,2505,Short Stories for Kids,6,0

In [120]:
# explore category 1 == Other

predict2_df[predict2_df["class2"]==1]

,index,category_id,category_name,class,class2
3,3,2659,20th Century History: C 1900 To C 2000,6,1
4,4,2661,21st Century History: From C 2000 -,6,1
6,6,1943,3D Graphics & Modelling,6,1
8,8,2472,ABC,6,1
9,9,768,Abnormal Psychology,6,1
...,...,...,...,...,...
2375,2770,1634,Zoology: Invertebrates,6,1
2376,2771,1644,Zoology: Mammals,6,1
2377,2772,1639,Zoology: Vertebrates,6,1
2378,2773,3007,Zoos & Wildlife Parks,6,1
2379,2774,3215,Zoroastrianism,6,1

In [121]:
# explore category  2 == Other

predict2_df[predict2_df["class2"]==2]

,index,category_id,category_name,class,class2
17,21,2461,Activity Books,2,2
29,33,342,Adventure Books,2,2
111,124,2904,"Antiques & Collectables: Books, Manuscripts, E...",2,2
146,160,3,Art Books,2,2
199,220,2458,Baby Books,2,2
...,...,...,...,...,...
2231,2610,2967,Transportation Books,2,2
2232,2611,2536,Transportation Books for Children,2,2
2249,2632,234,True Story Books,2,2
2362,2757,2687,World War 1 Books,2,2
2364,2759,2689,World War 2 Books,2,2

In [122]:
# explore category  3 == Programming

predict2_df[predict2_df["class2"]==3]

,index,category_id,category_name,class,class2
0,0,1998,.Net Programming,6,3
5,5,1992,2D Graphics: Games Programming,6,3
7,7,1993,3D Graphics: Games Programming,6,3
48,56,1987,Agile Programming,6,3
166,180,1988,Aspect Programming / AOP,6,3
462,535,1983,Computer Programming / Software Development,6,3
570,663,2003,Database Programming,6,3
804,937,1989,Extreme Programming,6,3
899,1048,1990,Functional Programming,6,3
910,1059,1991,Games Development & Programming,6,3
974,1137,1995,Graphics Programming,6,3
1234,1463,1994,Level Design: Games Programming,6,3
1245,1475,1511,Linear Programming,6,3
1266,1506,2000,Macintosh Programming,6,3
1335,1612,1997,Microsoft Programming,6,3
1433,1719,2001,Network Programming,6,3
1438,1724,2815,Neuro Linguistic Programming (NLP),6,3
1485,1775,1996,Object-oriented Programming (OOP),6,3
1547,1845,2002,PDA / Handheld Programming,6,3
1726,2047,1984,Program Concepts / Learning To Program,6,3
1727,2048,2006,Programming & Scripting Languages: General,6,3
2313,2708,2004,Web Programming,6,3
2344,2739,1999,Windows Programming,6,3

In [123]:
# explore category  4 == Music

predict2_df[predict2_df["class2"]==4]

,index,category_id,category_name,class,class2
1,1,176,20th Century & Contemporary Classical Music,6,4
2,2,3291,20th Century & Contemporary Classical Music,6,4
69,81,197,Ambient & New Age Music,6,4
70,82,3312,Ambient & New Age Music,6,4
212,236,173,Baroque Music (c 1600 To C 1750),6,4
213,237,3288,Baroque Music (c 1600 To C 1750),6,4
272,304,182,"Brass Band, Military Music & Marches",6,4
273,305,3297,"Brass Band, Military Music & Marches",6,4
359,414,177,Choral Music,6,4
360,415,3292,Choral Music,6,4
411,471,174,Classical Music (c 1750 To C 1830),6,4
412,472,3289,Classical Music (c 1750 To C 1830),6,4
522,606,186,Country & Western Music,6,4
523,607,3301,Country & Western Music,6,4
527,611,1442,"Creative Therapy (eg Art, Music, Drama)",6,4
609,706,1911,Digital Music: Consumer/user Guides,6,4
610,707,1945,Digital Music: Professional,6,4
677,783,171,Early Music (up To C 1000 CE),6,4
678,784,3286,Early Music (up To C 1000 CE),6,4
682,789,188,"Easy Listening, MOR Music",6,4
683,790,3303,"Easy Listening, MOR Music",6,4
729,841,195,Electronic Music,6,4
730,842,3310,Electronic Music,6,4
869,1012,183,Folk & Traditional Music,6,4
870,1013,3298,Folk & Traditional Music,6,4
1011,1175,193,Heavy Metal Music,6,4
1012,1176,3308,Heavy Metal Music,6,4
1242,1472,181,Light Orchestral & Big Band Music,6,4
1243,1473,3296,Light Orchestral & Big Band Music,6,4
1313,1587,172,Medieval & Renaissance Music (c 1000 To C 1600),6,4
1314,1588,3287,Medieval & Renaissance Music (c 1000 To C 1600),6,4
1390,1672,165,Music,6,4
1391,1673,3280,Music,6,4
1392,1675,212,Music Recording & Reproduction,6,4
1393,1676,3327,Music Recording & Reproduction,6,4
1394,1677,167,Music Reviews & Criticism,6,4
1395,1678,3282,Music Reviews & Criticism,6,4
1396,1679,169,Music: Styles & Genres,6,4
1397,1680,3284,Music: Styles & Genres,6,4
1446,1732,180,Non-Western Music: Traditional & Classical,6,4
1447,1733,3295,Non-Western Music: Traditional & Classical,6,4
1675,1985,2511,Pop Music,6,4
1861,2202,189,Rock & Pop Music,6,4
1862,2203,3304,Rock & Pop Music,6,4
1869,2211,175,Romantic Music (c 1830 To C 1900),6,4
1870,2212,3290,Romantic Music (c 1830 To C 1900),6,4
1889,2231,179,Sacred & Religious Music,6,4
1890,2232,3294,Sacred & Religious Music,6,4
2156,2523,211,Techniques Of Music / Music Tutorials,6,4
2157,2524,3326,Techniques Of Music / Music Tutorials,6,4
2194,2565,166,Theory Of Music & Musicology,6,4
2195,2566,3281,Theory Of Music & Musicology,6,4
2272,2656,159,"Variety Shows, Music Hall, Cabaret",6,4
2273,2657,3274,"Variety Shows, Music Hall, Cabaret",6,4
2321,2716,170,Western Classical Music,6,4
2322,2717,3285,Western Classical Music,6,4
2360,2755,196,World Music,6,4
2361,2756,3311,World Music,6,4

In [124]:
# explore category 5 == Strategy

predict2_df[predict2_df["class2"]==5]

      index  category_id                          category_name  class  class2
287     319          793    Bullying & Anti-bullying Strategies      6       5
288     320         3338    Bullying & Anti-bullying Strategies      6       5
582     676          902  Defence Strategy, Planning & Research      6       5
716     825          787        Educational Strategies & Policy      6       5
717     826         3332        Educational Strategies & Policy      6       5
911    1060         1916                  Games Strategy Guides      6       5
1251   1481          788                    Literacy Strategies      6       5
1252   1482         3333                    Literacy Strategies      6       5
1470   1759          789                    Numeracy Strategies      6       5
1471   1760         3334                    Numeracy Strategies      6       5
2244   2625          794      Truancy & Anti-truancy Strategies      6       5
2245   2626         3339      Truancy & Anti-truancy Strategies      6       5

In [125]:
# explore category  6 == Teaching

predict2_df[predict2_df["class2"]==6]

,index,category_id,category_name,class,class2
669,775,310,ELT: Teaching Theory & Methods,6,6
1217,1437,271,Language Teaching & Learning (other Than ELT),6,6
1218,1438,273,Language Teaching & Learning Material & Course...,6,6
1219,1439,272,Language Teaching Theory & Methods,6,6
2125,2492,834,Teaching Of A Specific Subject,6,6
2126,2493,3379,Teaching Of A Specific Subject,6,6
2127,2494,829,Teaching Of Autistic Students,6,6
2128,2495,3374,Teaching Of Autistic Students,6,6
2129,2496,828,Teaching Of Dyslexic Students,6,6
2130,2497,3373,Teaching Of Dyslexic Students,6,6
2131,2498,831,Teaching Of Gifted Students,6,6
2132,2499,3376,Teaching Of Gifted Students,6,6
2133,2500,825,Teaching Of Hearing-impaired Students,6,6
2134,2501,3370,Teaching Of Hearing-impaired Students,6,6
2135,2502,824,Teaching Of Physically Disabled Students,6,6
2136,2503,3369,Teaching Of Physically Disabled Students,6,6
2137,2504,823,Teaching Of Specific Groups & Persons With Spe...,6,6
2138,2505,3368,Teaching Of Specific Groups & Persons With Spe...,6,6
2139,2506,830,Teaching Of Students With Emotional & Behaviou...,6,6
2140,2507,3375,Teaching Of Students With Emotional & Behaviou...,6,6
2141,2508,832,Teaching Of Students With English As A Second ...,6,6
2142,2509,3377,Teaching Of Students With English As A Second ...,6,6
2143,2510,827,Teaching Of Students With Specific Learning Di...,6,6
2144,2511,3372,Teaching Of Students With Specific Learning Di...,6,6
2145,2512,826,Teaching Of Visually Impaired Students,6,6
2146,2513,3371,Teaching Of Visually Impaired Students,6,6
2147,2514,783,Teaching Resources & Education,6,6
2148,2515,3328,Teaching Resources & Education,6,6
2149,2516,833,Teaching Skills & Techniques,6,6
2150,2517,3378,Teaching Skills & Techniques,6,6
2151,2518,802,Teaching Staff,6,6
2152,2519,3347,Teaching Staff,6,6

In [126]:
# explore category 7 == Arts

predict2_df[predict2_df["class2"]==7]

,index,category_id,category_name,class,class2
99,112,76,"Animals & Nature In Art (still Life, Landscape...",6,7
142,156,2509,Art,6,7
143,157,2554,Art & Design,6,7
144,158,41,Art & Design Styles: Postmodernism,6,7
145,159,2,Art & Photography,6,7
...,...,...,...,...,...
2072,2437,26,Styles: Art & Craft,6,7
2073,2438,33,Styles: Art Deco,6,7
2074,2439,28,Styles: Art Nouveau,6,7
2077,2442,40,Styles: Conceptual Art,6,7
2084,2449,38,Styles: Pop Art,6,7

In [127]:
# explore category 8 == Fiction

predict2_df[predict2_df["class2"]==8]

,index,category_id,category_name,class,class2
344,397,2488,Children's Fiction,6,8
405,465,353,Classic Science Fiction,6,8
406,466,2627,Classic Science Fiction,6,8
488,568,334,Contemporary Fiction,6,8
656,760,318,ELT Literature & Fiction Readers,6,8
773,903,356,Erotic Fiction,6,8
830,969,373,Fiction Companions,6,8
831,970,371,Fiction In Translation,6,8
832,971,2561,Fiction Texts,6,8
833,972,372,Fiction-related Items,6,8
834,973,369,Fiction: Special Features,6,8
971,1134,368,Graphic Novels: True Stories & Non-fiction,6,8
972,1135,2637,Graphic Novels: True Stories & Non-fiction,6,8
1028,1197,362,Historical Fiction,6,8
1347,1626,344,Military Fiction,6,8
1411,1695,357,Myth & Legend Told As Fiction,6,8
1445,1731,2508,Non-Fiction,6,8
1732,2054,289,Prose: Non-fiction,6,8
1819,2153,363,Religious & Spiritual Fiction,6,8
1916,2260,352,Science Fiction,6,8
1917,2261,2626,Science Fiction,6,8
2363,2758,346,World War 1 Fiction,6,8
2365,2760,347,World War 2 Fiction,6,8

In [128]:
# explore category 9 == Trade

predict2_df[predict2_df["class2"]==9]

,index,category_id,category_name,class,class2
140,154,921,Arms Trade,6,9
195,213,1843,Automotive Technology & Trades,6,9
284,316,1828,Building Skills & Trades,6,9
635,737,934,Domestic Trade,6,9
636,738,2748,Domestic Trade,6,9
646,748,740,Drugs Trade / Drug Trafficking,6,9
1064,1236,1872,Hotel & Catering Trades,6,9
1288,1530,1851,Maritime / Nautical Trades,6,9
1541,1838,1871,Other Vocational Technologies & Trades,6,9
1784,2112,1847,Railway Trades,6,9
1858,2197,1845,Road Transport & Haulage Trades,6,9
1883,2225,1874,Rural Trades & Skills,6,9
2220,2594,946,Trade Agreements,6,9
2221,2595,2760,Trade Agreements,6,9
2222,2596,1094,Trade Unions,6,9
2230,2609,1842,Transport Technology & Trades,6,9

In [129]:
predict2_df

,index,category_id,category_name,class,class2
0,0,1998,.Net Programming,6,3
1,1,176,20th Century & Contemporary Classical Music,6,4
2,2,3291,20th Century & Contemporary Classical Music,6,4
3,3,2659,20th Century History: C 1900 To C 2000,6,1
4,4,2661,21st Century History: From C 2000 -,6,1
...,...,...,...,...,...
2375,2770,1634,Zoology: Invertebrates,6,1
2376,2771,1644,Zoology: Mammals,6,1
2377,2772,1639,Zoology: Vertebrates,6,1
2378,2773,3007,Zoos & Wildlife Parks,6,1
2379,2774,3215,Zoroastrianism,6,1

In [130]:
predict_df

      category_id                                category_name  class
0            1998                             .Net Programming      6
1             176  20th Century & Contemporary Classical Music      6
2            3291  20th Century & Contemporary Classical Music      6
3            2659      20th Century History: C 1900  To C 2000      6
4            2661          21st Century History: From C 2000 -      6
...           ...                                          ...    ...
2770         1634                       Zoology: Invertebrates      6
2771         1644                             Zoology: Mammals      6
2772         1639                         Zoology: Vertebrates      6
2773         3007                        Zoos & Wildlife Parks      6
2774         3215                               Zoroastrianism      6

[2775 rows x 3 columns]

In [144]:
genre_final = predict_df.merge(predict2_df,how='left', left_on='category_id', right_on='category_id')

In [145]:
genre_final.head()

,category_id,category_name_x,class_x,index,category_name_y,class_y,class2
0,1998,.Net Programming,6,0.0,.Net Programming,6.0,3.0
1,176,20th Century & Contemporary Classical Music,6,1.0,20th Century & Contemporary Classical Music,6.0,4.0
2,3291,20th Century & Contemporary Classical Music,6,2.0,20th Century & Contemporary Classical Music,6.0,4.0
3,2659,20th Century History: C 1900 To C 2000,6,3.0,20th Century History: C 1900 To C 2000,6.0,1.0
4,2661,21st Century History: From C 2000 -,6,4.0,21st Century History: From C 2000 -,6.0,1.0

In [148]:
drop_columns = ["category_name_y", "class_y", "index"]

genre_final = genre_final.drop(columns=drop_columns)

In [149]:
genre_final.rename(columns={"category_name_x":"category_name", "class_x": "class"}, inplace=True)

In [150]:
genre_final.isna().sum()

category_id        0
category_name      0
class              0
class2           395
dtype: int64

In [151]:
genre_final

      category_id                                category_name  class  class2
0            1998                             .Net Programming      6     3.0
1             176  20th Century & Contemporary Classical Music      6     4.0
2            3291  20th Century & Contemporary Classical Music      6     4.0
3            2659      20th Century History: C 1900  To C 2000      6     1.0
4            2661          21st Century History: From C 2000 -      6     1.0
...           ...                                          ...    ...     ...
2770         1634                       Zoology: Invertebrates      6     1.0
2771         1644                             Zoology: Mammals      6     1.0
2772         1639                         Zoology: Vertebrates      6     1.0
2773         3007                        Zoos & Wildlife Parks      6     1.0
2774         3215                               Zoroastrianism      6     1.0

[2775 rows x 4 columns]

In [153]:
#conditions = [
    # (df['likes_count'] <= 2),
    # (df['likes_count'] > 2) & (df['likes_count'] <= 9),
    # (df['likes_count'] > 9) & (df['likes_count'] <= 15),
    # (df['likes_count'] > 15)
    # ]

In [169]:
genre_final.loc[genre_final["class"]==0,"genre"] = "Medicine"
genre_final.loc[genre_final["class"]==4,"genre"] = "Medicine"
genre_final.loc[genre_final["class"]==1,"genre"] = "Law & Crime"
genre_final.loc[genre_final["class"]==8,"genre"] = "Law & Crime"
genre_final.loc[genre_final["class"]==3,"genre"] = "Engineering & Programming"
genre_final.loc[genre_final["class2"]==3, "genre"] = "Engineering & Programming"
genre_final.loc[genre_final["class"]==5,"genre"] = "Social Science and Teaching"
genre_final.loc[genre_final["class2"]==6,"genre"] = "Social Science and Teaching"
genre_final.loc[genre_final["class"]==7,"genre"] = "Business, Economics & Industry"
genre_final.loc[genre_final["class"]==9,"genre"] = "Business, Economics & Industry"
genre_final.loc[genre_final["class2"]==9,"genre"] = "Business, Economics & Industry"
genre_final.loc[genre_final["class2"]==5,"genre"] = "Business, Economics & Industry"
genre_final.loc[genre_final["class2"]==4,"genre"] = "Arts & Music"
genre_final.loc[genre_final["class2"]==7,"genre"] = "Arts & Music"
genre_final.loc[genre_final["class2"]==2,"genre"] = "Other"
genre_final.loc[genre_final["class2"]==1,"genre"] = "Other"
genre_final.loc[genre_final["class2"]==0,"genre"] = "Kids & Fiction"
genre_final.loc[genre_final["class2"]==0,"genre"] = "Kids & Fiction"

In [170]:
genre_final

,category_id,category_name,class,class2,genre
0,1998,.Net Programming,6,3.0,Engineering & Programming
1,176,20th Century & Contemporary Classical Music,6,4.0,Arts & Music
2,3291,20th Century & Contemporary Classical Music,6,4.0,Arts & Music
3,2659,20th Century History: C 1900 To C 2000,6,1.0,Other
4,2661,21st Century History: From C 2000 -,6,1.0,Other
...,...,...,...,...,...
2770,1634,Zoology: Invertebrates,6,1.0,Other
2771,1644,Zoology: Mammals,6,1.0,Other
2772,1639,Zoology: Vertebrates,6,1.0,Other
2773,3007,Zoos & Wildlife Parks,6,1.0,Other
2774,3215,Zoroastrianism,6,1.0,Other

In [171]:
genre_final.to_csv("genres.csv")